{% load widget_tweaks %}

{% block content %}
<h1>Kontakt</h1>
<div class="col-xl-8">
      <div class="contact-page__comment-form">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
               <div class="col-xxl-6 col-xl-6 col-lg-6">
                  <div class="contact-page__comment-input">
                     {% render_field form.ism name=ism type=text placeholder="Your Name*" %}
                     <!-- <input name="name" type="text" placeholder="Your Name*"> -->
                  </div>
               </div>
               <div class="col-xxl-6 col-xl-6 col-lg-6">
                  <div class="contact-page__comment-input">
                     {% render_field form.email name="email" type="email" placeholder="Your Email*" %}
                     <!-- <input name="email" type="email" placeholder="Your Email*"> -->
                  </div>
               </div>
               <div class="col-xxl-12 col-xl-12 col-lg-12">
                  <div class="contact-page__comment-input">
                     {% render_field form.nomer name="nomer" type="text" placeholder="Your Phone Number" %}
                     <!-- <input name="name" type="text" placeholder="Your Subject"> -->
                  </div>
               </div>
               <div class="col-xxl-12">
                  <div class="contact-page__comment-input">
                     {% render_field form.xabar name="xabar" placeholder="Your Message" %}
                     <!-- <textarea name="message" placeholder="Your Message"></textarea> -->
                  </div>
               </div>
               <div class="col-xxl-12">
                  <div class="contact-page__comment-btn">
                     <button type="submit" class="thm-btn">Send Message</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
{% endblock content %}