{% extends 'base.html' %}
{% load static %}

{% block content %}
<header style="background-color: lightslategray;">

    <h1 style="font-size: 50px; text-align: center;color:rgb(255, 255, 255)"> Rahmat !</h1>
    <p style="font-size: 30px; text-align: center;">Sizning so'rovingiz qabul qilindi.</p>
    <p style="text-align: center;">
     <a href="{% url 'main' %}" align-items-center style="border: 10px;border-radius: 15px; border: 10px solid rgb(0, 0, 0); font-size:30px;color:white;">Bosh sahifa</a>
    </p><br>
</header>
  {% endblock %}
