{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <marquee direction="left"><h1 style="color: #149ddd ;">Portfolio Details</h1></marquee>
          <ol>
            <li><a href="{% url 'main' %}">Bosh sahifa</a></li>
            <li>Portfoio Details</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/footer-logo1.png' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'assets/img/logo_1.png' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Proyektlar haqida ma'lumot</h3>
              <ul>
                <li><strong>Yo'nalish</strong>: Web Applications</li>
                <li><strong>Mijoz</strong>: Logistic company </li>
                <li><strong>Proyekt vaqti</strong>: 2023 - 2024-yil </li>
                <li><strong>Milky Way Trucking LLC </strong>:<a href="http://www.milkywaytrucking.com">Milky Way Trucking LLC</a></li>
                <li><strong>Zeromax Motors INC </strong>:<a href="http://www.zeromaxmotors.com">Zeromax Motors INC</a></li>
                <li><strong>Falcon Freight INC </strong>:<a href="http://www.falconfreights.com">Falcon Freight INC </a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Logistika kompaniyalari uchun tayyorlangan veb saytlar haqida to'liq ma'lumot oling</h2>
              <p>
                Mijoz tomonida berilgan shart yuzasidan tayyorlangan Veb sayt
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}